	p{
		background-color: rgb(215, 148, 180);
		font-size: 14px;
		color: red;
	} .blue{
			color: blue;
		}
	.forrest{
			color: #317443;
		}
		.big{
			font-size: 250%;
	}#little{
		color: #C81F70;
	} 
	}
	h2
	{
	margin-left: 100;
	margin-right: 200;
	border-style:solid;
	border-width:5;
	border-color: rgb (173, 233, 255);
	}


