body{
	background-color: rgb(192, 230, 238);
	}

h1 {
		font: "Comic Sans MS"
		font-size: 25px;
		color: #074D33;
		display: inline-block;
	}	
h2 {
		font: "Comic Sans MS"
		font-size: 20px;
		color: #074D33;
		
	}

p {
		color: #872D3D;
		font: "Comic Sans MS"
	} 

.tab {
	display: inline-block;
	position: relative;
	left: 100px; 
}
.tab2 {
	position: relative;
	left: 150px;
}	